{{ define "main" }}
<div role="main" class="container">
  <!-- <link href="/pagefind/pagefind-ui.css" rel="stylesheet" />
  <script src="/pagefind/pagefind-ui.js"></script> -->
  <link href="{{ "pagefind/pagefind-ui.css" | relURL }}" rel="stylesheet" />
  <script src="{{ "pagefind/pagefind-ui.js" | relURL }}"></script>
  <div id="search"></div>
  <script>
    window.addEventListener("DOMContentLoaded", (event) => {
      new PagefindUI({ element: "#search", showSubResults: true });
    });
  </script>
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ with .Content }}
      <div class="well">{{.}}</div>
      {{ end }}

      <div class="posts-list">
        {{ $pag := .Paginate (where site.RegularPages "Type" "in"
        site.Params.mainSections) }} {{ range $pag.Pages }} {{ partial
        "post_preview" . }} {{ end }}
      </div>

      {{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
      <ul class="pager main-pager">
        {{ if .Paginator.HasPrev }}
        <li class="previous">
          <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/"
            >&larr; {{ i18n "newerPosts" }}</a
          >
        </li>
        {{ end }} {{ if .Paginator.HasNext }}
        <li class="next">
          <a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/"
            >{{ i18n "olderPosts" }} &rarr;</a
          >
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </div>
  </div>
</div>
{{ if .Store.Get "hasMermaid" }}
  <script type="module">
    import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
    mermaid.initialize({ startOnLoad: true });
  </script>
{{ end }}
{{ end }}
